#Ignore sqlite3.h header file
sqlite3.h

# Ignore all vscode files
/.vscode

#ignore all database files
*.db

#ignore all exe files
*.exe

# Ignore all build files
/build

# Ignore all bin files
/bin

# Ignore cmake files folder
/CMakeFiles

